version: "3.9"
services:
  backend:
    build: .
    ports: ["8000:8000"]
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=mhd_dev
      - STORAGE_BACKEND=s3
      - S3_ENDPOINT=http://minio:9000
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=adminadmin
      - S3_ACCESS_KEY=admin
      - S3_SECRET_KEY=adminadmin
      - S3_BUCKET_RAW=mhd-raw
      - S3_BUCKET_PROCESSED=mhd-processed
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    env_file:
      - ./app/.env.dev
    depends_on:
      mongo:
        condition: service_healthy
      minio:
        condition: service_started
      mlflow:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8000/health"]
      interval: 30s
      timeout: 5s
      retries: 5

  mongo:
    image: mongo:5
    ports: ["27017:27017"]
    volumes: [mongo_data:/data/db]
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')", "--quiet"]
      interval: 30s
      timeout: 10s
      retries: 5

  minio:
    image: minio/minio:RELEASE.2025-01-11T06-25-24Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-admin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-adminadmin}
    ports: ["9000:9000","9001:9001"]
    volumes: [minio_data:/data]

  mlflow-db:
    image: postgres:16
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
      POSTGRES_DB: mlflow
    ports: ["5433:5432"]
    volumes: [mlflow_db:/var/lib/postgresql/data]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mlflow -d mlflow"]
      interval: 30s
      timeout: 10s
      retries: 5

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.16.0
    depends_on:
      mlflow-db:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      MLFLOW_BACKEND_STORE_URI: postgresql+psycopg2://mlflow:mlflow@mlflow-db:5432/mlflow
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER:-admin}
      AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD:-adminadmin}
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri $MLFLOW_BACKEND_STORE_URI
      --artifacts-destination s3://mhd-mlflow-artifacts
    ports: ["5000:5000"]

volumes:
  mongo_data:
  minio_data:
  mlflow_db:
